In [169]:
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np
from scipy import stats
from sklearn.datasets import load_iris
import pandas as pd

In [170]:
df_title_akas = pd.read_csv('zippedData/imdb.title.akas.csv.gz')

In [171]:
df_title_basics = pd.read_csv('zippedData/imdb.title.basics.csv.gz')

In [172]:
df_name_basics = pd.read_csv('zippedData/imdb.name.basics.csv.gz')

In [173]:
df_title_crew = pd.read_csv('zippedData/imdb.title.crew.csv.gz')

In [174]:
df_title_principals = pd.read_csv('zippedData/imdb.title.principals.csv.gz')

In [175]:
df_title_ratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')

In [176]:
df_title_akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331703 entries, 0 to 331702
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   title_id           331703 non-null  object
 1   ordering           331703 non-null  int64
 2   title              331703 non-null  object
 3   region             278410 non-null  object
 4   language           41715 non-null   object
 5   types              168447 non-null  object
 6   attributes         14925 non-null   object
 7   is_original_title  331678 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 20.2+ MB

In [177]:
df_merge1 = df_title_basics.merge(df_title_crew, how='inner', on='tconst')

In [178]:
df_merge2 = df_merge1.merge(df_title_ratings, how='inner', on='tconst')

In [179]:
df_merge3 = df_merge2.merge(df_title_principals, how='inner', on='tconst')

In [180]:
df_imdb = df_merge3.merge(df_name_basics, how='inner', on='nconst')

In [181]:
df_imdb_movies = df_imdb.drop_duplicates(subset='primary_title')

In [182]:
subset = list(df_imdb_movies['genres'].value_counts().index[0:20])

In [183]:
subset

['Drama',
 'Documentary',
 'Comedy',
 'Horror',
 'Comedy,Drama',
 'Thriller',
 'Drama,Romance',
 'Comedy,Romance',
 'Comedy,Drama,Romance',
 'Action',
 'Horror,Thriller',
 'Drama,Thriller',
 'Romance',
 'Biography,Documentary',
 'Documentary,Music',
 'Comedy,Horror',
 'Documentary,Drama',
 'Action,Crime,Drama',
 'Family',
 'Biography,Documentary,History']

In [184]:
df_imdb_top_genres = df_imdb_movies[df_imdb_movies['genres'].isin(subset)]

In [185]:
df_imdb_top_genres.groupby('genres').mean()['averagerating'].sort_values(ascending=False)

genres
Documentary,Music                7.479652
Biography,Documentary,History    7.464407
Documentary,Drama                7.338113
Documentary                      7.295435
Biography,Documentary            7.235329
Drama                            6.492809
Comedy,Drama                     6.356225
Drama,Romance                    6.292903
Comedy,Drama,Romance             6.286111
Drama,Thriller                   6.122631
Family                           6.083857
Romance                          6.047947
Action,Crime,Drama               5.988506
Comedy,Romance                   5.828294
Comedy                           5.761857
Action                           5.739262
Thriller                         5.694223
Comedy,Horror                    5.135189
Horror                           4.835167
Horror,Thriller                  4.795445
Name: averagerating, dtype: float64

In [186]:
df_imdb_directors = df_imdb[df_imdb['category'] == 'director']

In [187]:
df_imdb_directors

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,directors,writers,averagerating,numvotes,ordering,nconst,category,job,characters,primary_name,birth_year,death_year,primary_profession,known_for_titles
5,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",7.0,77,5,nm0712540,director,NaN,NaN,Harnam Singh Rawail,1921.0,2004.0,"director,writer,producer","tt0266757,tt0266712,tt0134996,tt0266765"
25,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",nm0002411,NaN,7.2,43,5,nm0002411,director,NaN,NaN,Mani Kaul,1944.0,2011.0,"director,writer,actor","tt0102515,tt0070009,tt0066514,tt0207626"
35,tt1767372,She's Funny That Way,She's Funny That Way,2014,93.0,"Comedy,Drama",nm0000953,"nm0091673,nm0000953",6.1,22179,5,nm0000953,director,NaN,NaN,Peter Bogdanovich,1939.0,NaN,"actor,director,writer","tt0067328,tt0063671,tt0070510,tt0069049"
54,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,nm0000080,"nm0000080,nm0462648",6.9,4517,5,nm0000080,director,NaN,NaN,Orson Welles,1915.0,1985.0,"actor,director,writer","tt0048393,tt0052311,tt0057427,tt0033467"
98,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",nm0611531,nm0347899,6.1,13,5,nm0611531,director,NaN,NaN,Hrishikesh Mukherjee,1922.0,2006.0,"director,editor,writer","tt0066763,tt0147855,tt0137362,tt0137361"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629572,tt9910930,Jeg ser deg,Jeg ser deg,2019,75.0,"Crime,Documentary",nm10536332,"nm10536332,nm3853626",6.1,7,5,nm10536332,director,NaN,NaN,Maria Salazar,NaN,NaN,NaN,NaN
629577,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,nm10536451,"nm10536451,nm10536453,nm10536454",8.4,365,5,nm10536451,director,NaN,NaN,Vineesh Aaradya,NaN,NaN,"writer,director",NaN
629582,tt9913056,Swarm Season,Swarm Season,2019,86.0,Documentary,nm1502645,NaN,6.2,5,1,nm1502645,director,NaN,NaN,Sarah Christman,NaN,NaN,"miscellaneous,director,editor","tt10012842,tt3118730,tt0398932,tt9913056"
629594,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,NaN,nm1716653,"nm3678448,nm9361716",6.6,5,5,nm1716653,director,NaN,NaN,Laura Jou,NaN,NaN,"miscellaneous,actress,director","tt1164999,tt0464141,tt5151924,tt1649419"
629596,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary,nm5684093,NaN,6.5,11,2,nm5684093,director,NaN,NaN,Joost van der Wiel,NaN,NaN,"director,cinematographer,writer","tt2927550,tt4000564"

In [188]:
prolific_directors = list(df_imdb_directors['primary_name'].value_counts().index[0:500])

In [189]:
df_imdb_directors = df_imdb_directors[df_imdb_directors['primary_name'].isin(prolific_directors)]

In [190]:
df_imdb_directors.groupby('primary_name').mean()['averagerating'].sort_values(ascending=False)

primary_name
Tom Logan          8.637500
Ross MacGibbon     8.300000
Nick Wickham       8.285714
Peter Mortimer     8.266667
Dick Carruthers    8.242857
                     ...
David Palmieri     2.642857
Ken Ochiai         2.271429
Alex Wesley        1.985714
Brett Kelly        1.426667
Chihiro Ikeda      1.285714
Name: averagerating, Length: 500, dtype: float64